@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --bgcolor: #202024;
    --bgcolor-dark: #161616;
    --bgcolor-dark2: #272727;
    --bgcolor-light: #5a5a5a;
    --bgcolor-black: #00000080;
    --secondary-bgcolor: #00798c;
    --secondary-bgcolor-light: #ccc;
    --marine-color: #00c2e0;
    --text-color: #f4f4f5;
    --secondary-text-color: #969494;
    --warning-color: #eba433;
    --greenryb-color: #61ab36;
    --danger-color: #ac0202;
    --danger-light-color: #da6c7b;
    --success-color: #016817;
    --success-light-color: #96d373;

    --transition: all .4s ease-in-out;
}

body {
    background: var(--bgcolor);
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

header {
    background: var(--secondary-bgcolor);
    padding: 3rem;
    margin: .5rem;
    text-align: center;
}

header h1 {
    padding-bottom: 3rem;
    color: var(--greenryb-color);
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 70%;
    font-size: 1.2rem;
    padding: .6rem;
    outline: none;
    background: var(--bgcolor);
    color: var(--text-color);
}

button {
    padding: .6rem;
    width: 25%;
    background: var(--bgcolor);
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    outline: none;
    transition: var(--transition);
}

button:hover {
    background: var(--greenryb-color);
    color: var(--text-color);
}

section#tasks {
    margin: .5rem;

}

ul {
    list-style: none;
}

ul li {
    position: relative;
    padding: .5rem;
    background: var(--bgcolor-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding-left: 2rem;
}

ul li span {
    color: var(--secondary-bgcolor-light);
    font-style: italic;
    font-size: .8rem;
    padding-left: 1rem;
}

ul li div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

a.editTask,
a.deleteTask {
    color: var(--secondary-bgcolor-light);
    padding: .25rem;
    transition: var(--transition);
}

a.deleteTask {
    margin-left: .25rem;
}

a.editTask:hover  {
    background: var(--warning-color);
}

a.deleteTask:hover {
    background: var(--danger-color);
}

ul li:nth-child(odd) {
    background: var(--bgcolor-dark2);
}

ul li:hover {
    background: var(--bgcolor-light);
}

section#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bgcolor-black);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

div#card {
    width: 30rem;
    position: relative;
    background: var(--bgcolor);
}

div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

div#card h2 {
    margin: 0;
    color: var(--greenryb-color);
}

div#card #closeModal {
    top: .75rem;
    right: 0;
    color: var(--secondary-bgcolor-light);
    font-weight: 700;
    font-size: 1.25rem;
    padding: .25rem;
    text-decoration: none;
    transition: var(--transition);
}

div#card #closeModal:hover {
    background: var(--danger-color);
    border-radius: 20%;
}

div#card hr {
    width: 90%;
    margin: 0 auto;
    border-color: var(--bgcolor-black);
}

div#card p {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1rem;
}

div#btnsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

div#btnsCard a {
    text-decoration: none;
    padding: .5rem;
    width: 7rem;
    text-align: center;
    background: var(--bgcolor-dark);
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    transition: var(--transition);
}

div#btnsCard #btnNot {
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    margin-right: 1rem;
}

div#btnsCard #btnNot:hover {
    background: var(--danger-color);
    color: var(--text-color);
}

div#btnsCard #btnYes {
    color: var(--success-color);
    border: 1px solid var(--success-color);
    margin-right: 1rem;
}
div#btnsCard #btnYes:hover {
    background: var(--success-color);
    color: var(--text-color);
}

.message {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-danger {
    background: var(--danger-light-color);
    color: var(--danger-color);
}

.message-success {
    background: var(--success-light-color);
    color: var(--success-color);
}

span#close-message {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
    padding-left: 2rem;
}

span#close-message:hover {
    font-weight: 900;
}

ul li.check-true {
    background: var(--marine-color);
    color: var(--text-color);
    text-decoration: line-through;
}

ul li a.check-true::before {
    content: "";
    position: absolute;
    border: solid var(--success-color);
    top: 12px;
    left: 16px;
    height: 15px; 
    width: 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

ul li a.check-false::before {
    content: "";
    position: absolute;
    border: solid #fff;
    top: 15px;
    left: 16px;
    height: 13px; 
    width: 13px;
    border-width: 2px;
}